name: Github-Raj

on: [push]
jobs: 
  job-1:
    runs-on: ubuntu-latest
    steps:
      - name: step1
        run: echo "first code"
      - name: step2
        run: echo "2nd code"        
      
      